FLASK_ENV=development
FLASK_DEBUG=1
DATABASE_URL=postgresql://postgres:YOURPASSWORD@db.yourproject.supabase.co:5432/postgres
JWT_SECRET_KEY=your-secret-key
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key